.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.list_item,
.next_list_item {
    border: 2px solid rgb(243, 190, 122);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.next_list_item {
    opacity: 0.1;
   
}

@media (max-width:640px) {
    .list {
        width: 100%;
    }
}